In [ ]:
#importing modules
import pymongo

In [ ]:
client = pymongo.MongoClient("mongodb+srv://Logeesh:1234@cluster0.qobwyef.mongodb.net/?retryWrites=true&w=majority")

In [ ]:
#creating database
db = client.telephone
records = db.telephone_directory

CRUD OPERATIONS

In [ ]:
#Insert the record into the collection
data=[{"id":0,"Name":"Logeesh","Mobile No.":9563148625,"Place":"salem,Tamilnadu,India"},
      {"id":1,"Name":"Ravi","Mobile No.":948963257,"Place":"chennai,Tamilnadu,India"},
      {"id":2,"Name":"sundar","Mobile No.":9234156875,"Place":"coimbatore,Tamilnadu,India"},
      {"id":3,"Name":"sathish","Mobile No.":9665874421,"Place":"trichy,Tamilnadu,India"},
      {"id":4,"Name":"keerthi","Mobile No.":8874842155,"Place":"madurai,Tamilnadu,India"},
      {"id":5,"Name":"smith","Mobile No.":9874123569,"Place":"salem,Tamilnadu,India"},
      {"id":6,"Name":"muthu","Mobile No.":9987858965,"Place":"karur,Tamilnadu,India"},
      {"id":7,"Name":"jasmine","Mobile No.":7525463897,"Place":"Erode,Tamilnadu,India"},
      {"id":8,"Name":"priya","Mobile No.":6321235695,"Place":"Theni,Tamilnadu,India"},
      {"id":9,"Name":"Rajini","Mobile No.":7065394861,"Place":"calicut,kerala,India"},
      {"id":10,"Name":"Ram","Mobile No.":8075236954,"Place":"Mumbai,Maharastra,India"}]

In [ ]:
records.insert_many(data)

In [ ]:
#Make a query to find records you just created.
for x in records.find():
  print(x)

{'_id': ObjectId('63a1d2695ad89f060336e4f3'), 'id': 0, 'Name': 'Logeesh', 'Mobile No.': 9563148625, 'Place': 'salem,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f4'), 'id': 1, 'Name': 'Ravi', 'Mobile No.': 948963257, 'Place': 'chennai,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f5'), 'id': 2, 'Name': 'sundar', 'Mobile No.': 9234156875, 'Place': 'coimbatore,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f6'), 'id': 3, 'Name': 'sathish', 'Mobile No.': 9665874421, 'Place': 'trichy,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f7'), 'id': 4, 'Name': 'keerthi', 'Mobile No.': 8874842155, 'Place': 'madurai,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f8'), 'id': 5, 'Name': 'smith', 'Mobile No.': 9874123569, 'Place': 'salem,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f9'), 'id': 6, 'Name': 'muthu', 'Mobile No.': 9987858965, 'Place': 'karur,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fa'), 'id': 7, 'Name': 'jasmine', 'Mobile No.': 7525463897, 'Place': 'Erode,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fb'), 'id': 8, 'Name': 'priya', 'Mobile No.': 6321235695, 'Place': 'Theni,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fc'), 'id': 9, 'Name': 'Rajini', 'Mobile No.': 7065394861, 'Place': 'calicut,kerala,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fd'), 'id': 10, 'Name': 'Ram', 'Mobile No.': 8075236954, 'Place': 'Mumbai,Maharastra,India'}

In [ ]:
#updation
records.update_one({"id":4},{"$set":{"Name":"Prince"}})
for i in records.find():
   print(i)

{'_id': ObjectId('63a1d2695ad89f060336e4f3'), 'id': 0, 'Name': 'Logeesh', 'Mobile No.': 9563148625, 'Place': 'salem,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f4'), 'id': 1, 'Name': 'Ravi', 'Mobile No.': 948963257, 'Place': 'chennai,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f5'), 'id': 2, 'Name': 'sundar', 'Mobile No.': 9234156875, 'Place': 'coimbatore,Tamilnadu,India', 'name': 'Ajay'}
{'_id': ObjectId('63a1d2695ad89f060336e4f6'), 'id': 3, 'Name': 'sathish', 'Mobile No.': 9665874421, 'Place': 'trichy,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f7'), 'id': 4, 'Name': 'Prince', 'Mobile No.': 8874842155, 'Place': 'madurai,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f8'), 'id': 5, 'Name': 'smith', 'Mobile No.': 9874123569, 'Place': 'salem,Tamilnadu,India', 'name': 'Ajay'}
{'_id': ObjectId('63a1d2695ad89f060336e4f9'), 'id': 6, 'Name': 'muthu', 'Mobile No.': 9987858965, 'Place': 'karur,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fa'), 'id': 7, 'Name': 'jasmine', 'Mobile No.': 7525463897, 'Place': 'Erode,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fb'), 'id': 8, 'Name': 'priya', 'Mobile No.': 6321235695, 'Place': 'Theni,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fc'), 'id': 9, 'Name': 'Rajini', 'Mobile No.': 7065394861, 'Place': 'calicut,kerala,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fd'), 'id': 10, 'Name': 'Ram', 'Mobile No.': 8075236954, 'Place': 'Mumbai,Maharastra,India'}

In [ ]:
#delete
records.delete_one({"Name":"sundar"})
for i in records.find():
   print(i)

{'_id': ObjectId('63a1d2695ad89f060336e4f3'), 'id': 0, 'Name': 'Logeesh', 'Mobile No.': 9563148625, 'Place': 'salem,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f4'), 'id': 1, 'Name': 'Ravi', 'Mobile No.': 948963257, 'Place': 'chennai,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f6'), 'id': 3, 'Name': 'sathish', 'Mobile No.': 9665874421, 'Place': 'trichy,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f7'), 'id': 4, 'Name': 'Prince', 'Mobile No.': 8874842155, 'Place': 'madurai,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4f8'), 'id': 5, 'Name': 'smith', 'Mobile No.': 9874123569, 'Place': 'salem,Tamilnadu,India', 'name': 'Ajay'}
{'_id': ObjectId('63a1d2695ad89f060336e4f9'), 'id': 6, 'Name': 'muthu', 'Mobile No.': 9987858965, 'Place': 'karur,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fa'), 'id': 7, 'Name': 'jasmine', 'Mobile No.': 7525463897, 'Place': 'Erode,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fb'), 'id': 8, 'Name': 'priya', 'Mobile No.': 6321235695, 'Place': 'Theni,Tamilnadu,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fc'), 'id': 9, 'Name': 'Rajini', 'Mobile No.': 7065394861, 'Place': 'calicut,kerala,India'}
{'_id': ObjectId('63a1d2695ad89f060336e4fd'), 'id': 10, 'Name': 'Ram', 'Mobile No.': 8075236954, 'Place': 'Mumbai,Maharastra,India'}